---
---
@import url("https://use.typekit.net/xbv3jvp.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */
body {
  margin-top: 30px;
  margin-left: 30px;
	margin-bottom: 30px;
  background-color: #f8f8f8;
  max-width: 600px;
  font-family: aktiv-grotesk, 'Noto Sans SC', "Helvetica Neue", Helvetica, "Franklin Gothic", Arial, sans-serif;
}
.home {
  max-width: 300px;
}
h1 {
  font-family: campaign, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  padding: 0 0 10px 0;
}
h3,
h4 {
  font-family: minion-pro, serif;
  font-weight: 500;
  padding: 0 0 0 0;
  font-size: 15px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}
h4 {
  font-style: italic;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  font-size: 30px;
  line-height: normal;
}
li {
  padding: 10px 0 10px 0;
  text-align: right;
}
@media screen and (max-width: 531px) {
	body {
		width: 90%;
	}
}
.navigation {
  margin-bottom: 5px;
}
